<div>
    <main class="App">
        <section class="products">
            <h1 class="main">Shopping cart</h1>
            <ul class="products-list tableHead">
                <li class="products-list-title row">
                    <div class="col-product">Product details</div>
                    <div class="col-quantity">Quantity</div>
                    <div class="col-price">Price</div>
                    <div class="col-total">Total</div>
                </li>
            </ul>
            <ul class="products-list">


                <ng-container *ngFor="let product of checkout.allProducts; trackBy:trackBy ">

                    <li class="product row">


                        <div class="col-product">
                            <figure class="product-image">
                                <img [src]=" '../assets/img/' + product.img" [alt]="product.name" />
                                <div class="product-description">
                                    <h1>{{product.name}}</h1>
                                    <p class="product-code">Product code {{ product.code }} </p>
                                </div>
                            </figure>
                        </div>


                        <div class="col-quantity">

                            <button (click)="checkout.removeProduct(product.code)" class="count">-</button>

                            <input type="text" class="product-quantity" [value]="checkout.getProductCount(product.code)" />

                            <button (click)="checkout.addProduct(product.code)" class="count">+</button>

                        </div>


                        <div class="col-price">
                            <span class="product-price"> {{checkout.getProductPrice(product.code)}} </span><span class="product-currency currency">€</span>
                        </div>

                        <div class="col-total">
                            <span class="product-price">{{checkout.getTotalProductPrice(product.code)}} </span><span class="product-currency currency">€</span>
                        </div>

                    </li>

                </ng-container>

            </ul>
        </section>



        <app-summary [totalItems]="checkout.myCart.length" [totalPrice]="checkout.total()" [totalPriceWithPutDiscount]="checkout.getTotalWithOutDiscount()"></app-summary>

    </main>
</div>